body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/*input, textarea, select {
  max-width: 350px;
}*/

textarea {
  width: 100% !important;
  resize: none;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

/* As <h2> margins */
.username-filter-form {
  margin-top: 20px;
  margin-bottom: 10px;
}

.title-filter-form {
  margin-top: 20px;
  margin-bottom: 10px;
}

/*Shop Items Preview*/
.item-details .modal-dialog {
  max-width: 800px;
  width: 100%;
}

.item-characteristic-name {
  padding-right: 2px;
}

.item-characteristic-value {
  padding-left: 2px;
}

.space-ten {
  padding: 10px 0;
}

.cart-footer-row {
  border: dashed 2px blue;
  border-radius: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: darkgrey;
}

.transfer-row {
  border-bottom: solid 2px brown;
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.transfer-left-block {
  font-size: 1.2em;
}

.transfer-right-block {
  font-size: 1.2em;
}

.transfer-points {
  font-size: 1.6em;
  color: brown;
  /*TODO: fix this shit*/
  min-height: 140px;
}

.vertical-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.new-transfer-form {
  margin-top: 20px;
}

.new-transfer-form input {
  min-width: 400px;
}

.new-transfer-field-label {
  width: 15% !important;
}

.new-transfer-form textarea {
  max-width: none;
  width: 84% !important;
}

/*Points radiobuttons*/
.new-transfer-points input[type=radio] {
  display: none;
}

.new-transfer-points span.glyphicon {
  display: none;
}

.new-transfer-points.active span.glyphicon {
  display: inline-block;
}

.new-transfer-form-error-message {
  padding-left: 10px;
  padding-right: 10px;
}

#NewTransferBlock {
  border: solid 2px brown;
  margin-top: 15px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
}
