@{
  ViewBag.Title = Localizer["Reset password confirmation"];
}

<h2>@ViewBag.Title</h2>
<p>
  @Localizer["Your password has been reset."] @Localizer["Please <a asp-action='{0}'>click here to log in</a>.", "Login"]
</p>
